* {
    margin: 0;
    padding: 0;
}

body {
    background-color: skyblue;
    font-family: sans-serif;
}

.header {
    overflow: hidden;
    background-color: royalblue;
    padding: 10px;
}

.header a {
    float: left;
    text-decoration: none;
    color: white;
}

.header h1 {
    font-weight: 600;
}

.header p {
    color: white;
}

.account {
    float: right;
    margin-right: 1rem;
}

.account button {
    float: right;
    padding: 2px;
    margin-top: 1px;
    margin-right: 5px;
}

.new-party-container {
    padding: 1rem;
    border-bottom: 1px solid;
}

.head-text {
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.4rem;
    max-width: 750px;
    border: 1px solid;
    background: beige;
    border-radius: 19px;
}

.intro-text {
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.4rem;
    max-width: 750px;
    border: 1px solid;
    background: beige;
    border-radius: 19px;
}

.new-post {
    font-size: 1.4rem;
    margin-top: 1rem;
    padding: 0.4rem;
    max-width: 750px;
    border: 1px solid;
    background: beige;
    border-radius: 19px;
}

.new-post p strong {
    float: left;
    margin-right: 4px;
}

.newParty input {
    width: 5rem;
}

.new-post button {
    margin-top: 4px;
    padding: 2px;
}

.col {
    float: left;
    width: 363px;
    padding: 10px;
}

.card {
    height: 75px;
    background-color: rgb(240, 205, 10);
    border-radius: 19px;
    padding: 15px;
    color: black;
    font-size: 1.4rem;
    text-align: left;
    overflow-x: scroll;
    overflow-y: hidden;
}

.card p {
    white-space: nowrap;
}

::-webkit-scrollbar {
    display: none;
}

.thumbnail {
    float: left;
    width: 75px;
    border: 1px solid black;
    background-color: white;
    margin-right: 1rem;
}

.error-box, .guest-login-box {
    max-width: 700px; 
    margin: 0 auto; 
    text-align: center;
}

.extend-box {
    max-width: 700px; 
    margin: 0 auto; 
    text-align: center;
}

.loading-box {
    max-width: 500px; 
    margin: 0 auto; 
    text-align: center;
}

.loading-box img {
    width: 40px;
}

.login-container {
    font-size: 1.5rem;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 4rem;
    background-color: beige;
    border: 1px solid;
}

.login-box, .create-account-box, .account-info {
    text-align: center;
    padding: 5px;
}

.login-box input, .create-account-box input {
    padding: 2px;
    font-size: 1rem;
}

.login-box a, .create-account-box a {
    display: block;
    font-size: 1rem;
}

.username-box {
    margin-bottom: 5px;
}

.password-box {
    margin-bottom: 5px;
}

.function-box {
    padding: 4px;
}

.function-box button {
    padding: 2px;
    font-size: 1rem;
}

.function-box p {
    font-size: 1.3rem;
    margin: 2px;
}

.party-container, .account-container {
    font-size: 1.5rem;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 1rem;
    background-color: beige;
    border: 1px solid;
}

.toolbar {
    background-color: rgb(219, 219, 219);
    border-bottom: 1px solid;
    padding: 0.2rem;
}

.toolbar a {
    text-decoration: none;
    background-color: rgb(219, 219, 219);
    margin-right: 4px;
    margin-left: 4px;
}

#party .main {
    padding: 1rem;
}

.main h2 {
    font-weight: 500;
    background-color: rgb(240, 240, 103);
}

.main p {
    font-weight: 500;
    margin-top: 0.5rem;
}

.main ul {
    list-style: none;
}

.main ul li {
    border: 1px solid;
    margin: 1rem;
    padding: 0.5rem;
}

.main ul li img {
    background-color: white;
    border: 1px solid;
}


#party .main input {
    width: 50%;
    font-size: 1.3rem;
    padding: 3px;
}


